NODE_ENV=development
PORT=8000
#see https://developer.mapquest.com/
GEOCODER_PROVIDER=mapquest
GEOCODER_API_KEY=46KN3M5FyM7MLv5sBEe3hzE0YEMDKYsf

FILE_UPLOAD_PATH= ./public/uploads
MAX_FILE_UPLOAD=1000000

JWT_SECRET=secret
JWT_EXPIRE=30d
JWT_COOKIE_EXPIRE=30

API_MAILER_HOST=mailer
API_MAILER_PORT=1025
API_MAILER_USERNAME=
API_MAILER_PASSWORD=
API_MAILER_ENCRYPTION=tcp
API_MAILER_FROM_EMAIL=noreply@devcamper.io
API_MAILER_FROM_NAME=DevCamper